*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav{
    padding: 30px 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: auto;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    background-color: white;
    z-index: 100;
}

nav .logo{
    font-size: 35px;
    text-decoration: none;
    font-weight: 600;
}

nav .cart-icon img{
    width: 35px;
    height: 35px;       
}

.cart-icon{
    position: relative;
}

nav .cart-item-icon{
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: red;
    color: white;
    text-align: center;
    top: 0;
    right: -6px;    
    line-height: 23px;
    align-items: center;    
}

.product-collection{
    padding: 150px 9%;
}

.product-collection .product-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

.product-collection .img-box{
    display: flex;    
    overflow: hidden;
    cursor: pointer;
}

.product-collection .img-box img{
    width: 100%;    
    transition: 0.5s;
}

.product-collection .img-box img:hover{
    transform: scale(1.1);
}

.product-collection h1{
    text-align: center;
    margin: 20px 0 50px;
}

/* PRODUCT DETAIL PAGE */

.product-detail{
    padding: 150px 9%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.product-detail .product-img{
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 12px;
    height: 550px;    
}

.product-detail .product-img img{
    display: block;
    width: 100%;
    /* height: 100%; */
    object-fit: cover;       
}

.product-detail .product-img .main-img img{
    height: 100%;
}

.product-detail .thumbnail-list{
    display: flex;
    flex-direction: column;
    gap: 12px;   
}

.product-detail .thumbnail-list img{
    height: calc(100% /4 -9px);
    cursor: pointer;
}

.product-info .rating{
    font-size: 25px;
    color: orangered;
}

.product-info .price{
    font-size: 25px;
    margin: 10px 0 10px;
}

.product-info .description{
    font-size: 20px;
    margin: 10px 0;
}

.product-info .size-options button{
    width: 45px;
    height: 45px;
    margin: 10px 10px 10px 0;
    border: 1px solid transparent;
    cursor: pointer;
    outline: none;
}

.product-info .color-options img{
    width: 75px;
    height: 75px;
    margin: 10px 10px 10px 0;
    border: 1px solid transparent;
    cursor: pointer;
}

.product-info :is(.size-options .selected, .color-options .selected){
    border: 2px solid #999;
}

.product-info .btn{
    width: 150px;
    padding: 15px 20px;
    font-size: 18px;
    background-color: black;
    color: white;
    border-radius: 20px;
    margin-bottom: 15px;
    border: none;
}

.product-info .btn:hover{
    background-color: rgba(0, 0, 0, 0.644);
}

/* CART DETAILS */


.cart{
    padding: 130px 9%;    
}

.cart .cart-header{
    display: flex;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid #999;
    line-height: 40px;
}

.cart .cart-header span{
    flex: 1;
    text-align: center;
}

.cart .cart-header span:first-of-type{
    flex: 2;
    text-align: left;
}

.cart .cart-item .product{
    padding: 5px 0;
    display: flex;
    gap: 10px;    
}

.cart .cart-item .size-color-box p{
    margin-bottom: 10px;
}

.cart .cart-item .size-color-box .size{
    padding: 3px 5px;
    background-color: #f2f2f2;
    font-size: 15px;
}

.cart .cart-item{
    display: flex;
    align-items: center;
    border-bottom: 0.5px solid #99999954;
}

.cart .cart-item .product{
    flex: 2;     
}

.cart .cart-item :is(.price ,.quantity, .total-items){
    flex: 1;
    text-align: center;
    align-items: center;
}

.cart .cart-item .quantity input{
    width: 50px;
    padding: 5px;
    text-align: center;
    align-items: center;
}

.cart .cart-item .remove{
    flex: 1;
    text-align: center;
}

.cart .cart-item img{
    width: 50px;
}

.cart .remove{
    border: none;
    background-color: transparent;
    font-size: 20px;
}

.cart-total{
    width: 390px;
    margin: 30px 0 0 auto;
}

.cart-total h3{
    margin-bottom: 10px;
}

.cart-total p{
    display: flex;
    justify-content: space-between;    
}

.cart-total p:not(:last-of-type){
    border-bottom: 1px solid #999;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.cart-total p:last-of-type{
    font-weight: bold;
    margin-bottom: 10px;
}

.cart-total .btn{
    padding: 15px 20px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 20px;
    font-size: 15px;
    width: 180px;  
    margin: 30px 0 0 auto; 
    display: block;
}

